.token-currency-display-amount {
  grid-column-start: 4;
  grid-column-end: 5;

  @media screen and (max-width: $break-small) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.token-currency-display-info {
  font-size: .75rem;
  color: #5e6064;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: nonce;
  align-self: center;
  text-align: end;

  @media screen and (max-width: $break-small) {
    padding-bottom: 4px;
  }
}