.network-component--disabled {
  // border-color: transparent !important;
  cursor: not-allowed;

  .fa-caret-down {
    opacity: 0;
  }
}

.network-component.pointer {
  border: 2px solid $silver;
  border-radius: 82px;
  padding: 7px 3px;
  flex: 0 0 auto;
  display: flex;

  &.ethereum-network .menu-icon-circle div {
    background-color: rgba(3, 135, 137, .7) !important;
  }
}

.dropdown-menu-item {
  .menu-icon-circle,
  .menu-icon-circle--active {
    margin: 0 14px;
  }
}

.network-indicator {
  display: flex;
  align-items: center;
  font-size: .6em;

  .fa-caret-down {
    line-height: 15px;
    font-size: 12px;
    padding: 0 4px;
  }
}

.network-name {
  padding: 0 4px;
  font-family: Roboto;
  font-size: 12px;
  flex: 1 0 auto;
  color: $tundora;
  font-weight: 500;
}

.dropdown-menu-item .fa.delete {
    margin-right: 10px;
    display: none;
}

.dropdown-menu-item:hover .fa.delete {
    display: inherit;
}

.network-droppo {
  right: 2px;

  @media screen and (min-width: 576px) {
    right: calc(((100% - 85vw) / 2) + 2px);
  }

  @media screen and (min-width: 769px) {
    right: calc(((100% - 80vw) / 2) + 2px);
  }

  @media screen and (min-width: 1281px) {
    right: calc(((100% - 65vw) / 2) + 2px);
  }
}

.network-name-item {
  flex: 1;
  color: $dusty-gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.network-check,
.network-check__transparent {
  color: $white;
  margin-left: 7px;
}

.network-check__transparent {
  opacity: 0;
  width: 16px;
  margin: 0;
}

.menu-icon-circle,
.menu-icon-circle--active {
  background: none;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin: 0 4px;
}

.menu-icon-circle--active {
  border: 1px solid $white;
  background: rgba(100, 100, 100, .4);
}

.menu-icon-circle div,
.menu-icon-circle--active div {
  height: 12px;
  width: 12px;
  border-radius: 17px;
}

.menu-icon-circle--active div {
  opacity: 1;
}

.network-dropdown-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.network-dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: $scorpion;
}

.network-dropdown-title {
  height: 25px;
  width: 120px;
  color: $white;
  font-family: Roboto;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.network-dropdown-content {
  height: 36px;
  width: 265px;
  color: $dusty-gray;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
}

.network-caret {
  margin: 0 8px 2px;
}
