/*
  Generic
 */

@import './reset.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, Arial;
  color: #4d4d4d;
  font-weight: 400;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $break-small) {
    overflow-y: overlay;
  }
}

html {
  min-height: 500px;
}

.app-root {
  overflow: hidden;
  position: relative;
}

.app-primary {
  display: flex;
}

input:focus,
textarea:focus {
  outline: none;
}

/* stylelint-disable */
#app-content {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
}
/* stylelint-enable */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #df6b0e;
}

input.large-input,
textarea.large-input {
  padding: 8px;
}

input.large-input {
  height: 36px;
}

.allcaps {
  text-transform: uppercase;
}

.input-label {
  padding-bottom: 10px;
  font-weight: 400;
  display: inline-block;
}

input.form-control {
  padding-left: 10px;
  font-size: 14px;
  height: 40px;
  border: 1px solid $alto;
  border-radius: 3px;
  width: 100%;

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &::-moz-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &:-ms-input-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &:-moz-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &--error {
    border: 1px solid $monzo;
  }
}

.hide-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
