@import './time-remaining/index';

.advanced-tab {
  display: flex;
  flex-flow: column;

  &__transaction-data-summary,
  &__fee-chart-title {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__transaction-data-summary {
    display: flex;
    flex-flow: column;
    color: $mid-gray;
    margin-top: 12px;
    padding-left: 18px;
    padding-right: 18px;

    &__titles,
    &__container {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      font-size: 12px;
      color: #888EA3;
    }

    &__container {
      font-size: 16px;
      margin-top: 0px;
    }

    &__fee {
      font-size: 16px;
      color: #313A5E;
    }
  }

  &__fee-chart {
    margin-top: 8px;
    background: #F8F9FB;
    border-bottom: 1px solid #d2d8dd;
    border-top: 1px solid #d2d8dd;
    position: relative;

    &__title {
      font-size: 12px;
      color: #313A5E;
      margin-left: 22px;
    }

    &__speed-buttons {
      position: absolute;
      bottom: 13px;
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 19px;
      width: 100%;
      font-size: 10px;
      color: #888EA3;
    }
  }

  &__slider-container {
    padding-left: 27px;
    padding-right: 27px;
  }

  &__gas-edit-rows {
    height: 73px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 9px;
  }

  &__gas-edit-row {
    display: flex;
    flex-flow: column;

    &__label {
      color: #313B5E;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa-info-circle {
        color: $silver;
        margin-left: 10px;
        cursor: pointer;
      }

      .fa-info-circle:hover {
        color: $mid-gray;
      }
    }

    &__error-text {
      font-size: 12px;
      color: red;
    }

    &__warning-text {
      font-size: 12px;
      color: orange;
    }

    &__input-wrapper {
      position: relative;
    }

    &__input {
      border: 1px solid $dusty-gray;
      border-radius: 4px;
      color: $mid-gray;
      font-size: 16px;
      height: 24px;
      width: 155px;
      padding-left: 8px;
      padding-top: 2px;
      margin-top: 7px;
    }

    &__input--error {
       border: 1px solid $red;
    }

    &__input--warning {
       border: 1px solid $orange;
    }

    &__input-arrows {
      position: absolute;
      top: 7px;
      right: 0px;
      width: 17px;
      height: 24px;
      border: 1px solid #dadada;
      border-top-right-radius: 4px;
      display: flex;
      flex-direction: column;
      color: #9b9b9b;
      font-size: .8em;
      border-bottom-right-radius: 4px;
      cursor: pointer;

      &__i-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      &__i-wrap:hover {
        background: #4EADE7;
        color: $white;
      }

      i:hover {
        background: #4EADE7;
      }

      i {
        font-size: 10px;
      }
    }

    &__input-arrows--error {
      border: 1px solid $red;
    }

    &__input-arrows--warning {
      border: 1px solid $orange;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
    }

    input[type="number"]:hover::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
    }

    &__gwei-symbol {
      position: absolute;
      top: 8px;
      right: 10px;
      color: $dusty-gray;
    }
  }
}