.welcome-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background: $white;

  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__header {
      font-size: 1.65em;
      margin: 16px 0;

      @media screen and (max-width: 575px) {
        font-size: 1.5em;
      }
    }

    &__copy {
      width: 400px;
      max-width: 90vw;
      font-size: 1em;

      @media screen and (max-width: 575px) {
        font-size: .9em;
      }
    }
  }

  &__button {
    height: 54px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0 14px;
    padding: 2px 24px; 
    transition: 200ms ease-in-out;
    background-color: rgba(247, 134, 28, .9);

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
}
